* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pokemon-header {
    background: rgb(7, 141, 141);
    color: blue;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.pokemon-logo {
    width: 150px;
    margin: 5px;
}

.search-bar {
    flex: 1;
    border: none;
    width: 0;
    font-size: 16px;
    height: 38px;
    padding-left: 15px;
    border: none;
    border-radius: 4px;
}

.header-middle {
    flex: 1;
    max-width: 850px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.deck-button {
    flex: 1;
    width: 30px;
    height: 43px;
    background: rgba(255, 193, 23, 0.884);
    border-style: dashed;
    border-color: rgb(36, 36, 228);
    border-radius: 5px;
    font-size: 10px;
    padding: 1px;
}